@import "tailwindcss";

@theme {
  --font-sans: "Tajawal", sans-serif;
  --radius: 0.5rem;
}

@tailwind utilities;

.animated-gradient {
  background: linear-gradient(-45deg, #0f172a, #1e3a8a, #3b82f6, #1e3a8a);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.force-ltr .cm-content, .force-ltr .cm-gutter {
  direction: ltr !important;
  text-align: left !important;
}
